<h1> <%= @team.name %> </h1>

<h4> <%= @team.motto %> </h4>

 <div class = "heroes">
<% @heroes.each do |hero| %>
 <h3> Hero Name: <%= @heroes.name %> </h3>

  <p> Hero Power: <%= @heroes.power %> </p>
  <p> Hero Biography: <%= @heroes.bio %> </p>

#<h3> Hero Name: <%= @heroes.name %> </h3>

#<p> Hero Power: <%= @heroes.power %> </p>
#<p> Hero Biography: <%= @heroes.bio %> </p>

#<h3> Hero Name: <%= @heroes.name %> </h3>

#<p> Hero Power: <%= @heroes.power %> </p>
#<p> Hero Biography: <%= @heroes.bio %> </p>


  </div>
<%end%>